body {
    text-align: center;
}

#canvas {
    border: 2px solid black;
    border-radius: 8px;
}

.palette {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.palette {
    margin-top: 12px;
}

.palette__colors {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(2, 50px);
    grid-gap: 10px;
}

.palette__color {
	border: 2px solid lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.palette__color-selection {
    grid-column: -3 / -1;
}

#current-color {
    width: 80px;
    height: 50px;
}

#line-width[type="range"] {
    width: 50px;
    height: 110px;
    appearance: slider-vertical;
    writing-mode: bt-lr;  /* Chrome, Safari, Opera */
    -webkit-writing-mode: vertical-lr; /* Firefox */
    direction: rtl;
    transform: rotate(180deg);
}

.tools {
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
}

.tools > button {
    width: 120px;
    height: 40px;
    cursor: pointer;
    margin: 12px 16px;
    color: white;
    background-color: #2674f2;
    border: transparent;
    border-radius: 8px;
    font-size: 13pt;
}

.tools > button:hover {
    background-color: #0e65f1;
}